<ion-content class="ion-padding ">

  <ion-grid>
    <ion-row class="ion-padding-top ">
      <ion-col>
        <ion-card-title class="ion-text-center" color="success"><strong>Kaja Store</strong></ion-card-title>
      </ion-col>
    </ion-row>

    <ion-row class="ion-margin-top">
      <ion-col>
        <form [formGroup]="form" (ngSubmit)="login()">
          <ion-item>
            <ion-icon color="dark" size="small" name="person" slot="start"></ion-icon>
            <ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon color="dark" size="small" name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input placeholder="Password" type="password" formControlName="password">
              <ion-input-password-toggle color="dark" slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" [disabled]="form.invalid" color="success">Log in</ion-button>
        </form>

        <!-- <div   >
          <ion-loading [isOpen]="isLoading"  trigger="open-loading" [duration]="800"  spinner="crescent"></ion-loading>
        </div> -->


        <ion-row class="ion-padding-top">
          <ion-col class="ion-text-center">
            <ion-text color="success">OR</ion-text>
          </ion-col>
        </ion-row>

        <ion-button expand="block" color="danger"   (click)="loginWithGoogle()">
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Login with Google
        </ion-button>

        <ion-button expand="block" color="primary"  (click)="loginWithFacebook()">
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          Login with Facebook
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text color="dark">
          Don't have an account? <a routerLink="/signup" style="text-decoration: none;color: rgb(104, 201, 104);">Sign
            up</a>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding">
      <ion-col class="ion-text-center">
        <ion-text>Get the app</ion-text>
      </ion-col>

      <ion-row class="ion-margin">
        <ion-col size="6">
          <a href="https://apps.apple.com" target="_blank">
            <img alt="Download on the App Store" class="x1vqgdyp" src="assets/icon/appstore.png">
          </a>
        </ion-col>
        <ion-col size="6">
          <a href="https://play.google.com/store" target="_blank">
            <img alt="Get it on Google Play" class="x1vqgdyp" src="assets/icon/playstore.png"> </a>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>

  <ion-footer>
    <ion-grid class="ion-text-center ion-padding">
      <ion-row>
        <ion-col size="12">
          <ion-text color="medium">About</ion-text> ·
          <ion-text color="medium">Help</ion-text> ·
          <ion-text color="medium">Meta</ion-text> ·
          <ion-text color="medium">API</ion-text> ·
          <ion-text color="medium">Jobs</ion-text> ·
          <ion-text color="medium">Privacy</ion-text> ·
          <ion-text color="medium">Terms</ion-text> ·
          <ion-text color="medium">Locations</ion-text> ·
          <ion-text color="medium">Language</ion-text>
        </ion-col>

        <ion-col class="ion-padding">
          <ion-text color="medium">
            © 2025,Kaja Store. All rights are Reserved.
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>